{% extends 'base.html' %}


{% block main %}

<div class="row">
    <div class="col-sm-12 col-lg-4 col-md-4"></div>
    <div class="col-sm-12 col-lg-4 col-md-4">
        <h2>Register</h2>
        <form method="post">
                {% csrf_token %}
                {% for field in form %}
                        <div class="form-group">
                            {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <span class="fs-6 text-muted">{{ field.help_text}}</span>
                            {% endif %}
                        </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Sign Up">
                <div>
                    <p>  <a href="{% url 'user:login' %}">Login</a></p>
                <p>  <a href="{% url 'post:home' %}">Home</a></p>
                </div>
        </form>
    </div>
    <div class="col-sm-12 col-lg-4 col-md-4"></div>
</div>

{% endblock main %}