{% extends 'base.html' %}


{% block main %}

    {% include 'navbar.html' %}

       

       <div class="row mt-2">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {% for post in posts %}
            <div class="card mb-4 mt-2">
                <div class="card-body">
                    <img class="w-100" src="{{ post.picture.url }}" alt="" style="height: 60vh;">
                    <p>{{ post.caption }}</p>
                </div>
                <div class="card-footer">
                    <span>Like:1</span>
                    <span>Comment: 2</span>
                    <div class="float-end">
                        <a href="{% url 'post:edit_post' post.id %}" class="btn btn-info sm">Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4"></div>
       </div>
    {% block content %}
    {% endblock content %}

{% endblock main %}